/* generali */
* {
  margin: 0;
}

main{
  margin: 10px;
}

footer{
  margin-left: 10px;
}

/*header*/
.intestazione {
  width: 100%;
  height: 170px;
  background-image: url('../img/pattern.png');
  background-color: rgb(78, 160, 255);
}

header img{
  height: 100px;
  width: 300px; 
  margin-top: 65px;
  margin-left: 10px;
}

/* titolo e crediti */
.crediti{
  color: gray;
}

#span-crediti{
  color: rgb(45, 174, 230)
}

/* galleria fotografica */
.galleria-foto{
  margin-top: 20px;
}

.crediti-foto{
  font-size: 12px;
}

/* paragrafo e lista */
.paragrafo{
  margin-top: 20px;
  margin-bottom: 20px;
}

.evidenziato{
  background-color: yellow;
}

/* tabella */
table{
  margin-top: 20px;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

th{
  color: white;
  background-color: rgb(32, 169, 229);
}

td{
  padding: 10px 10px 10px 0px
}

.riga-colorata{
  background-color: rgb(177, 229, 242);
}


/* footer*/
h4{
  color: grey;
  margin-bottom: 10px;
}

/* containers nel footer */
.box{
  width: 170px;
  height: 150px;
  margin-bottom: 5px;
  background-size: cover;
  background-position: center;
}

.testo-box{
  color: white;
  font-size: 17px;
  padding-top: 10px;
  padding-left: 6px;
}

.sfondo-monitor{
  background-image: url(../img/monitor.jpg);
}

.sfondo-grafico{
  background-image: url(../img/graph.jpg);
}

