* {
  margin: 0;
}

main{
  margin: 10px;
}

.intestazione {
  width: 100%;
  height: 170px;
  background-image: url('../img/pattern.png');
  background-color: rgb(78, 160, 255);
}

header img{
  height: 100px;
  width: 300px; 
  margin-top: 65px;
  margin-left: 10px;
}

.crediti{
  color: gray;
}

#span-crediti{
  color: rgb(45, 174, 230)
}

.crediti-foto{
  font-size: 12px;
}

.galleria-foto{
  margin-top: 20px;
}

.paragrafo{
  margin-top: 20px;
  margin-bottom: 20px;
}

.evidenziato{
  background-color: yellow;
}


