* {
  margin: 0;
}

main{
  margin: 10px;
}

.intestazione {
  width: 100%;
  height: 170px;
  background-image: url('../img/pattern.png');
  background-color: rgb(78, 160, 255);
}

header img{
  height: 100px;
  width: 300px; 
  margin-top: 65px;
  margin-left: 10px;
}

.crediti{
  color: gray;
}

#span-crediti{
  color: rgb(45, 174, 230)
}

.crediti-foto{
  font-size: 12px;
}

.galleria-foto{
  margin-top: 20px;
}

.paragrafo{
  margin-top: 20px;
  margin-bottom: 20px;
}

.evidenziato{
  background-color: yellow;
}

table{
  margin-top: 20px;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

th{
  color: white;
  background-color: rgb(32, 169, 229);
}

td{
  padding: 10px 10px 10px 0px
}


.riga-colorata{
  background-color: rgb(177, 229, 242);
}

